$base-color: #fff;
$main-color: #d04255;
$accent-color: #1daf9e;
$accent-color-light: #c8efea;
$action-color: #477dca;
$light-gray: #ddd;
$white: #fff;
$transparency: rgba(255, 255, 255, 0);
$base-font-color: #333;
$light-font-color: lighten($base-font-color, 20);
