header {
  $header-background-top: darken($main-color, 20);
  $header-background-bottom: adjust-hue($header-background-top, -60);
  $gradient-angle: 10deg;

  // @include background(image-url('header-bg.png'), linear-gradient($gradient-angle, $header-background-bottom, $header-background-top), no-repeat $header-background-top scroll);
  background-size: cover;
  background: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,1)), image-url('header-bg.png') center center / cover no-repeat;

  // color: $main-color;
  height: 500px;
  padding-bottom: 60px;
  padding-top: 350px;
  text-align: center;
}

.header__title {
  height: 100px;
}

.header__description {
  color: #666;
  margin-top: 20px;
}
