header {
  $header-background-top: darken($main-color, 20);
  $header-background-bottom: adjust-hue($header-background-top, -60);
  $gradient-angle: 10deg;

  background: linear-gradient($transparency 50%, $white), image-url('header-bg.png') center center / cover no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 100px;
  padding: 300px 1rem 60px;
  text-align: center;
  @include media($medium-screen) {
    height: 500px;
    padding: 350px 1rem 60px;
    margin-bottom: 80px;
  }
}

.header__title {
  height: 80px;
  @include media($medium-screen) {
    height: 100px;
  }
}

.header__description {
  color: $light-font-color;
  margin-top: 24px;
}
