.messages {
  margin-top: 120px;
}

.message {
  @include outer-container;
  margin: 2rem auto 0;
}

.message__avatar {
  @include span-columns(4);
  margin-top: .5rem;

  @include media($medium-screen) {
    @include span-columns(2);
  }
}

.message__header {
  @include span-columns(8);
  @include omega();

  @include media($medium-screen) {
    @include span-columns(10);
    @include omega();
    margin-top: .6rem;
  }
}

.message__header-additional-data {
  .message__from {
    @include span-columns(8 of 8);

    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;

    @include media($medium-screen) {
      @include span-columns(8 of 10);
    }

    span {
      border-bottom: 1px solid;
    }
  }
}

.message__original {
  @include span-columns(12);
  @include omega();

  margin-top: .6rem;

  h2 {
    font-size: 1rem;
    line-height: 1.5rem;

    @include media($medium-screen) {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}

.message__candidates {
  @include span-columns(12);
  @include omega();

  font-size: .8rem;
  margin-top: 1.5rem;

  @include media($medium-screen) {
    font-size: 1rem;
  }
}

.rhyme__phrase {
  font-weight: 600;
}

.rhyme__phrase-pronunciation,
.rhyme__phrase-vowel {
  font-size: .6rem;
  margin-left: .2rem;

  @include media($medium-screen) {
    font-size: .8rem;
  }
}

.candidate__results {
  color: $light-font-color;
  cursor: pointer;
  font-size: .8rem;

  .candidate__results__table {
    margin: 1rem 0;
  }
}

.candidate__results--collapsed {
  border-bottom: 1px solid $light-gray;
  height: 2rem;
  margin: 1rem 0;
  overflow: hidden;

  &:hover {
    opacity: .7;
  }
}

.candidate__results--collapsed::before {
  content: '↓ ... Click to expand/collapse';
}

.candidate__results__fumeru {
  font-size: .8rem;

  @include media($medium-screen) {
    font-size: 1rem;
  }
}
