.message {
  @include outer-container;

  margin: 2rem auto 0;
  padding: 0 1rem;

  .message__avatar {
    @include span-columns(2);
    margin-right: 1%;
  }

  .message__container {
    @include span-columns(9.8);

    .message__from {
      font-size: .8rem;
      font-weight: 400;
      margin-top: .6rem;
      padding: .2rem;
      text-transform: uppercase;

      span {
        border-bottom: 1px solid;
      }
    }

    .message__original {
      margin-top: .6rem;

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .message__candidates {
    @include span-columns(12);

    margin-top: 1.5rem;
  }

  .message__links {
    @include span-columns(12);
    margin-right: 1rem;
    text-align: right;
  }

  .rhyme__phrase {
    font-weight: 600;
  }

  .rhyme__phrase-pronunciation,
  .rhyme__phrase-vowel {
    font-size: .8rem;
    margin-left: .2rem;
  }

  .candidate__results {
    font-size: .8rem;

    .candidate__results__table {
      margin: 1rem 0;
    }
  }

  .candidate__results--collapsed {
    height: 2rem;
    margin-top: 1rem;
    opacity: .9;
    overflow: hidden;
  }

  .candidate__results--collapsed::before {
    content: '↓ ... Click to expand/collapse';
  }
}
