.message {
  margin: 2rem auto 0;

  .message__avatar {
    @include span-columns(2);
    margin-right: 1%;
  }

  .message__container {
    padding: .2rem;

    @include media($medium-screen) {
      @include span-columns(9.8);
      margin-top: .6rem;
    }

    .message__header {
      .message__from {
        @include media($medium-screen) {
          @include span-columns(11);
          margin-top: .6rem;
        }

        font-size: .8rem;
        font-weight: 400;
        text-transform: uppercase;

        span {
          border-bottom: 1px solid;
        }
      }

      .message__links {
        @include media($medium-screen) {
          @include span-columns(1);
          text-align: right;
        }
      }
    }

    .message__original {
      @include span-columns(12);

      margin-top: .6rem;

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .message__candidates {
    @include span-columns(12);

    margin-top: 1.5rem;
  }

  .rhyme__phrase {
    font-weight: 600;
  }

  .rhyme__phrase-pronunciation,
  .rhyme__phrase-vowel {
    font-size: .8rem;
    margin-left: .2rem;
  }

  .candidate__results {
    font-size: .8rem;

    .candidate__results__table {
      margin: 1rem 0;
    }
  }

  .candidate__results--collapsed {
    height: 2rem;
    margin-top: 1rem;
    opacity: .9;
    overflow: hidden;
  }

  .candidate__results--collapsed::before {
    content: '↓ ... Click to expand/collapse';
  }
}
