body {

  $sans-serif: 'Questrial', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', '游ゴシック', YuGothic, 'ＭＳ ゴシック', sans-serif;
  $serif: 'Sanchez', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', '游明朝', YuMincho, 'ＭＳ 明朝', serif;
  $base-line-height: 1.5rem;
  $base-spacing: 1.5rem;

  font-family: $sans-serif;

  p {
    color: $base-font-color;
    font-family: $sans-serif;
    font-size: 1.05rem;
    line-height: $base-line-height;
    margin-bottom: 1.5rem;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  h1 {
    font-family: $serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .5rem;
  }

  h2 {
    font-family: $serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  h3 {
    font-family: $serif;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 1.1rem;
  }
}
