.video-wrapper {
  @include fill-parent();
  text-align: center;

  iframe {
    width: 300px;
    height: 200px;
    padding-bottom: 30px;
  }

  @include media($medium-screen) {
    iframe {
      width: 560px;
      height: 365px;
      padding-bottom: 50px;
    }
  }
}
