.header__title
  = link_to image_tag('title-logo.png', { alt: 'title-logo' }), root_path
.header__description
  | rhymechan helps u 2 konvert ill messagez in2 da dope rhyme and flow with vibez of da new $hit
